nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
li {
    margin: 0;
    padding: 24px;

}

.flexbox-container {
    padding: 100px;
    display: flex;
    flex-direction: row;
  
    background-color:cadetblue;
    flex: 1;
    flex-wrap: wrap;
    

}

.text-section {
    width: 50%;
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.button-section {
    display: flex;
    width: 500px;
    flex-direction: row;
    padding: 10px;
    
   
   

}

.image-section {
    display: flex;
    padding: 24px;
    align-self: center;
    justify-content: center;
    flex: 3;
    
    
}

