body {
  font-family: 'Roboto', sans-serif;
  color: rgb(37, 35, 35);
  
  
}

html {
    scroll-behavior: smooth;
}





nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    border-radius: 5px; 
    background: linear-gradient(to bottom right, #82c4c3, #52796f);

}



nav a {
    display: flex;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
    margin-right: 24px;
  }
  
  nav a:hover {
    color: rgb(133, 125, 125); /* or any other color */
  }




ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


.flexbox-container {
    padding: 24px;
    display: flex;
    background: linear-gradient(to bottom right, #ffffff, rgba(201, 202, 202, 0.3));
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
  }



.text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    align-content: center;
    min-height: 100%;
    margin: 0;    
    flex: 1;
}

.text-section {
    text-align: justify;
    font-weight: 44%;
    flex-direction: column; /* or row */
    justify-content: center;
    align-items: center;
}

.text-section a {
  text-decoration: none;
  color: rgb(37, 121, 72);
  transition: color 1s ease-in-out, transform 0.5s ease-in-out;
  transform: scale(1);
}

.text-section a:hover {
  color: rgb(5, 5, 5);
  transform: scale(1.05);
}

.text-section a:hover:not(:active) {
  transform: scale(1.05);
}

.text-section a:not(:hover) {
  transform: scale(1);
}

.text-section h2 {
    display: flex;
    text-align: center;
    margin: 0;
    font-weight: 200;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
}

.text-section button {
    transition: color 1s ease-in-out;
    margin-right: 24px;
    border-radius: 5px;
    background:linear-gradient(to bottom right, #ffffff, rgba(201, 202, 202, 0.3));
    text-decoration: none;
    border: 0;
}

.text-section button:hover {
    color: rgb(133, 125, 125); /* or any other color */
}

.image-section {
    display: flex;
    padding: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 0 200px;
    flex-wrap: wrap;
    
    
    
      
}

.image-section img {
    display: flex;
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 25px;
    flex: 1;
    object-fit: cover;
    flex-wrap: wrap;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
}

.text-container {
    display: flex;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 24px;
    opacity: 1;
    transition: opacity 1s ease-in-out, letter-spacing 1.5s ease-in-out;
  }
  
  .text-container:hover {
    opacity: 0.7;
    filter: saturate(200%) hue-rotate(-20deg);
    letter-spacing: 7px; /* Increase the letter spacing on hover */
  }

  .text-container a {
    text-decoration: none;
    color: black;
  }

  .image-links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 24px;
    text-align: center;
    opacity: 1;
    max-width: 100%;
    flex-wrap: wrap;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #f5f5f5, #cad2c5);
  }

.image-links-container h3 {
    
    color: rgb(59, 62, 63);
    
}

.image-links-container a {
    text-decoration: none;
}



.inset-podcast-logo {
    position: relative;
}


.overlay {
  position: absolute;
  margin-top: 66%;
  top: 0;
  left: 0;
  z-index: 1;
  bottom: 0;
  scale: 50%;
  border-radius: 77px;
  opacity: 1;

} 

.image-links-container h3 {
    letter-spacing: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: letter-spacing 0.5s ease-in-out;

}

.image-links-container h3:hover {
    letter-spacing: 0.2em;
}

.image-links-container p {
    width: 450px;

}

/* Below class controls podcast inlay transition */



  .inset-podcast-logo .image-link > img:first-child:hover {
    opacity: 0.7;
    filter: brightness(90%) saturate(80%) hue-rotate(-10deg);
    transition: opacity 0.3s ease-in-out;
  }

 

  .image-link img:not(:last-child):hover {
    opacity: 0.7;
    filter: brightness(90%) saturate(80%) hue-rotate(-10deg);
    transition: opacity 0.3s ease-in-out;
  }


.text-sections-container {
    display: flex;
    justify-content: center;
}

.image-link img {
    width: 100%;
    height: auto;
    max-width: 450px;
    max-height: 500px;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 30%);
    border-radius: 20px;
    object-fit: cover;
  }

.image-link.overlay{
  transition-property: none;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 24px;
    line-height: 1.5;
    padding: 24px;
    background-color: #f9f9f9;
    border-left: 6px solid #ccc;
  }
  
.quote-text::after {
    content: "\A-Peter F Hamilton";
    font-style: italic;
    margin-top: 16px;
    font-size: 18px;
    display: block;
  }

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  justify-content: space-evenly;
  border-radius: 10px;
  line-height: 2;
  background: linear-gradient(to bottom right, #82c4c3, #52796f);
}

.cta-text h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: -50%;
    margin: 0;
    
    
    
    
}

.cta-button a {
    color: black;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: color 1s ease-in-out, letter-spacing 1s ease-in-out, background-color 0.5s ease-in-out;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
  }
  
  .cta-button a:hover {
    letter-spacing: 0.2em;
    color: rgba(212, 212, 212, 0.87); /* Add a gray background on hover */
  }

.cta-button a:hover {
    color: rgb(231, 231, 231);
}

.social-media-footer {
    display: flex;
    justify-content: center;
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 24px;
  }



.social-media-footer img {
    display: flex;
    width: 75px;
    height: 75px;
    justify-content: center;
    border-radius: 25px;
    gap: 25px;
    align-self: center;
    box-shadow: 2px 2px 5px rgba(227, 236, 231, 0.3);
    margin: 20px;
    transition: box-shadow 0.7s ease-in-out;

}

.social-media-footer img:hover {
    box-shadow: 0px 0px 10px 3px rgba(86, 105, 112, 0.8);
  }

.social-media-footer p {
    text-align: center;
    text-shadow:  2px 2px 4px rgba(0, 0, 0, 0.5);
    
}


