body {
  font-family: 'Roboto', sans-serif;
}





nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
li {
    margin: 0;
    padding: 24px;

}

.flexbox-container {
    
    padding: 100px;
    display: flex;
    background-color:cadetblue;
    align-items: center;
     

}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    flex: 2;
    
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 24px; 

}

.image-section {
    display: flex;
    padding: 24px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 24px;
    flex: 1 0 200px;
    padding: 100px;
      
}

.text-container {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 24px;

}

.image-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
    gap: 24px;
    text-align: center;
}

.text-sections-container {
    display: flex;
    justify-content: center;
}

.image-link img {
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    object-fit: cover;
    
    
  }
